<div class="seccion spacing">
    <h2>Invitación de Asesorias</h2>
</div>
<div class="seccion">
    <div style="text-align: center;">
        <span>Tienes una invitacion para brindar asesorias durante este periodo de clases</span><br><br><br>
        *al aceptar la invitacion se generara un pdf en el que tendras que firmar y entregar al responsable<br>
        de asesorias
    </div>
</div>
<div class="seccion spacing">
    <button mat-raised-button color="primary" type="submit" matTooltip="Iniciar sesion" matTooltipPosition="above" (click)="aceptarSolicitud()">
        Firmar Solicitud
    </button>
    <button mat-raised-button color="primary" type="submit" matTooltip="Iniciar sesion" matTooltipPosition="above" (click)="rechazarSolicitud()">
        Rechazar Solicitud
    </button>
</div>